* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: normal;
  background-color: #f4f4f9;
}

.container {
  width: 90%;
  max-width: 1040px;
  margin: 20px auto;
  margin-top: 100px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: orange;
}
/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn a {
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn img {
  width: 30px;
  height: 30px;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

.navbar .action_btn + .action_btn {
  margin-left: 20px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
}

.inline-items {
  display: flex;
  justify-content: center;
}

.inline-items a {
  display: inline-flex;
  align-items: center;
}

.inline-items a + a {
  margin-left: -150px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-self: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  .navbar .home_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.character-image {
  max-width: 200px;
  max-height: 200px;
  background-color: black;
  display: block;
  margin: 0 auto;
}

.calculator {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 490px;
}

.mydigimon {
  position: relative;
}

.monster {
  position: relative;
  top: -449px;
  left: 350px;
}

.custom {
  position: relative;
  top: -1097px;
  left: 700px;
}

.result {
  position: relative;
  top: -649px;
  left: 700px;
}

table.mydigimon {
  width: 100%;
  max-width: 300px;
  border-collapse: collapse;
}

table.mydigimon th,
table.mydigimon td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.mydigimon tr:nth-child(1) {
  height: 40px;
}

.mydigimon tr:nth-child(5) {
  height: 40px;
}

.mydigimon tr:nth-child(6) {
  height: 30px;
}

.mydigimon tr:nth-child(7) {
  height: 30px;
}

.mydigimon tr:nth-child(9) {
  height: 40px;
}

.character-image {
  width: 150px;
  height: 150px;
  background-color: black;
  object-fit: cover;
}

th {
  background-color: #a0a0a0;
  color: #333;
  font-size: 20px;
}

td {
  background-color: #fff;
}

table.monster {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  border-collapse: collapse;
}

table.monster th,
table.monster td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.monster tr:nth-child(1) {
  height: 40px;
}

.monster tr:nth-child(2) {
  height: 40px;
}

.monster tr:nth-child(5) {
  height: 40px;
}

.monster tr:nth-child(6) {
  height: 30px;
}

.monster tr:nth-child(7) {
  height: 35px;
}

.monster tr:nth-child(8) {
  height: 35px;
}

.monster tr:nth-child(9) {
  height: 35px;
}

.monster tr:nth-child(10) {
  height: 35px;
}

.monster tr:nth-child(11) {
  height: 35px;
}

.monster tr:nth-child(12) {
  height: 35px;
}

.mob-image {
  width: 150px;
  height: 150px;
  background-color: black;
  object-fit: cover;
}

table.custom {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  border-collapse: collapse;
}

table.custom th,
table.custom td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.custom tr:nth-child(1) {
  height: 40px;
}

.custom tr:nth-child(2) {
  height: 30px;
}

.custom tr:nth-child(3) {
  height: 30px;
}

.custom tr:nth-child(4) {
  height: 30px;
}

.custom tr:nth-child(5) {
  height: 30px;
}

.custom tr:nth-child(6) {
  height: 30px;
}

.custom tr:nth-child(7) {
  height: 30px;
}

table.result {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  border-collapse: collapse;
}

table.result th,
table.result td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.result tr:nth-child(1) {
  height: 40px;
}

.result tr:nth-child(2) {
  height: 40px;
}

.result tr:nth-child(4) {
  height: 40px;
}

.result tr:nth-child(5) {
  height: 40px;
}

select {
  background-color: #f0f0f0;
  border: 1px #ccc;
  padding: 10px;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

select:hover {
  background-color: #e0e0e0;
}

select:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px #ccc;
  font-size: 12px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
