* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "paybooc-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: normal;
  background-color: #f4f4f9;
}

.font-applied {
  font-family: "Pretendard-Regular", sans-serif;
}

.font-applied2 {
  font-family: "paybooc-Bold", sans-serif;
}

.container1 {
  display: table;
  max-width: 100%;
  margin: 20px auto;
  margin-top: 120px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: orange;
}
/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn a {
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn img {
  width: 30px;
  height: 30px;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

.navbar .action_btn + .action_btn {
  margin-left: 20px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
}

.inline-items {
  display: flex;
  justify-content: center;
}

.inline-items a {
  display: inline-flex;
  align-items: center;
}

.inline-items a + a {
  margin-left: -150px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-self: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  .navbar .home_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.filters {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#nav3 * {
  padding: 0;
  margin: 0;
}

#nav3 ul,
#nav3 ol {
  list-style: none;
}

#nav3 {
  width: 80%;
  overflow: hidden;
  height: 80px;
  background-color: #202020;
  width: 100%;
  position: relative;
  text-align: center;
}

#nav3 a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#nav3 > a {
  line-height: 80px;
  display: block;
  font-weight: 900;
  position: absolute;
  left: 30px;
}

#nav3 > ul {
  display: inline-block;
}

#nav3 > ul li {
  float: left;
  line-height: 80px;
  padding: 0 60px;
}

@keyframes blink-shadow {
  0% {
    box-shadow: 0 0 2px 2px red;
  }
  50% {
    box-shadow: 0 0 2px 2px transparent;
  }
  100% {
    box-shadow: 0 0 2px 2px red;
  }
}

.blinking {
  border-radius: 50%;
  animation: blink-shadow 1s infinite;
}

.filter-label {
  font-weight: bold;
}

.mob-buttons,
.detector-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mob-buttons,
.detector-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.mob-button,
.detector-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  font-weight: 800;
}

.mob-button:hover,
.detector-button:hover {
  background-color: #d6d6d6;
}

.mob-button.active,
.detector-button.active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  border: 1px solid #5a6268;
}

.map-and-detail {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.detail {
  width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.detail h2 {
  margin-bottom: 10px;
  font-size: 17px;
  color: #333;
}

.detail p {
  margin: 4px 0;
  font-size: 14px;
  color: #e9e9e9;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  max-width: 200px;
  word-wrap: break-word;
  z-index: 1000;
  pointer-events: none;
  white-space: pre-line; /* 줄바꿈 유지 */
}
