* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "paybooc-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "paybooc-Bold", sans-serif;
  font-weight: normal;
  background-color: #f4f4f9;
}

.container1 {
  width: 100%;
  max-width: 740px;
  margin: 20px auto;
  margin-top: 90px;
}

.maps-logo {
  height: auto;
}

.maps {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.maps-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.maps-label {
  width: 150px;
  font-weight: bold;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: orange;
}
/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn a {
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn img {
  width: 30px;
  height: 30px;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

.navbar .action_btn + .action_btn {
  margin-left: 20px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
}

.inline-items {
  display: flex;
  justify-content: center;
}

.inline-items a {
  display: inline-flex;
  align-items: center;
}

.inline-items a + a {
  margin-left: -150px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-self: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  .navbar .home_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.main {
  background-color: #0d0f1f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 828px;
  width: 740px;
}

.main > p {
  color: #12aaf7;
  font-size: 29px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-label {
  width: 150px;
  font-weight: bold;
}

.map-group {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-left: 5px solid #4caf50;
}

.map-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.map-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-weight: 800;
  font-family: "Pretendard-Regular";
}

.map-button:hover {
  background-color: #d6d6d6;
}

.map-button.active {
  border-radius: 3px;
  background-color: #6c757d;
  color: white;
  border: 1px solid #5a6268;
}

#image-container {
  position: absolute;
  top: 109px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 700px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.map-image {
  width: 700px;
  height: 700px;
}

.portal-image,
.warp-image,
.shop-image,
.overflows-image {
  width: 41px;
  height: 41px;
}

.datacube-image {
  width: 14px;
  height: 14px;
}
.mob-image {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #000000;
  z-index: 999;
}

.portal-image {
  position: absolute;
  display: none;
  z-index: 1;
}

.warp-image {
  position: absolute;
  display: none;
  z-index: 2;
}

.shop-image {
  position: absolute;
  display: none;
}

.overflow-image {
  position: absolute;
  display: none;
}

.datacube-image {
  position: absolute;
  display: none;
  z-index: 3;
}

.mob-container {
  position: relative;
  display: inline-block;
}

.mob-image {
  position: absolute;
  display: none;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(187, 186, 186);
  padding: 8px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 50;
  max-width: 200px;
  text-align: center;
  line-height: 1.4;
  white-space: normal;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.special-tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(187, 186, 186);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  font-family: "paybooc-Bold", sans-serif;
  position: absolute;
  top: 64px;
  left: 600px;
  z-index: 10;
  background-color: #060a15;
  color: white;
  width: 120px;
  height: 33px;
  padding: 5px 6px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px rgba(48, 164, 199, 0.3), 0 0 2px rgba(48, 164, 199, 0.2),
    0 0 3px rgba(48, 164, 199, 0.1), 0 0 5px rgba(48, 164, 199, 0.1);
}

.dropdown-con {
  position: absolute;
  top: 64px;
  left: 20px;
  background-color: #060a15;
  color: white;
  width: 120px;
  height: 33px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px rgba(48, 164, 199, 0.3), 0 0 2px rgba(48, 164, 199, 0.2),
    0 0 3px rgba(48, 164, 199, 0.1), 0 0 5px rgba(48, 164, 199, 0.1);
}

.dropdown-con select {
  font-family: "paybooc-Bold", sans-serif;
  width: 120px;
  height: 33px;
  font-size: 13px;
  text-align: center;
  border-radius: 7px;
  background-color: #060a15;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-con::after {
  content: "▼";
  color: white;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
  pointer-events: none;
}

.dropdown-con.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-map {
  position: absolute;
  top: 64px;
  left: 150px;
  background-color: #060a15;
  color: white;
  width: 120px;
  height: 33px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px rgba(48, 164, 199, 0.3), 0 0 2px rgba(48, 164, 199, 0.2),
    0 0 3px rgba(48, 164, 199, 0.1), 0 0 5px rgba(48, 164, 199, 0.1);
}

.dropdown-map select {
  font-family: "paybooc-Bold", sans-serif;
  width: 120px;
  height: 33px;
  font-size: 13px;
  text-align: center;
  border-radius: 7px;
  background-color: #060a15;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-map::after {
  content: "▼";
  color: white;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
  pointer-events: none;
}

.dropdown-map.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-icon:hover,
.dropdown-con:hover,
.dropdown-map:hover {
  border-color: #2b9df4;
  box-shadow: 0 0 5px rgba(60, 204, 246, 0.7), 0 0 8px rgba(60, 204, 246, 0.5),
    0 0 11px rgba(60, 204, 246, 0.4), 0 0 14px rgba(60, 204, 246, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 99px;
  left: 600px;
  background-color: #060a15;
  color: white;
  z-index: 10;
  font-size: 13px;
  width: 120px;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 0 1px rgba(48, 164, 199, 0.3), 0 0 2px rgba(48, 164, 199, 0.2),
    0 0 3px rgba(48, 164, 199, 0.1), 0 0 5px rgba(48, 164, 199, 0.1);
}

.dropdown-content div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.dropdown-content label {
  line-height: 1.5;
  vertical-align: middle;
}

.map-dropdown select {
  font-family: "paybooc-Bold", sans-serif;
  width: 306px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  appearance: none;
  background-color: #0d0f1f;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}

.arrow {
  margin-left: 8px;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.show {
  display: block;
}
