* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: normal;
  background-color: #f4f4f9;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: orange;
}
/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn a {
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn img {
  width: 30px;
  height: 30px;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

.navbar .action_btn + .action_btn {
  margin-left: 20px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
}

.inline-items {
  display: flex;
  justify-content: center;
}

.inline-items a {
  display: inline-flex;
  align-items: center;
}

.inline-items a + a {
  margin-left: -150px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-self: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  .navbar .home_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-width: 768px) {
  .reset-btn {
    display: none;
  }
  .evolution-btn {
    margin: 0 0;
    padding: 0;
  }
}

.container1 {
  width: 100%;
  max-width: 1320px;
  margin: 20px auto;
  margin-top: 130px;
}

.filters {
  background-color: white;
  padding: 10px 20px 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-row .button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.filter-row .button-group label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filter-row .button-group input[type="checkbox"] {
  transform: scale(1.25);
  margin-top: 1px;
  margin-right: 5px;
}

.filter-label {
  width: 150px;
  font-size: 15px;
  font-weight: bold;
}

.search-box {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
}

.result-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  padding: 9px;
  border: 1px solid #ccc;
}

.result-table th {
  background-color: #e9ebec;
  font-weight: bold;
}

.result-table th.sortable {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.evolution-btn {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin: 0 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.evolution-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.evolution-btn img {
  display: block;
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.type-btn {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin: 0 8.1px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.type-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.type-btn img {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.skill-btn {
  border: 2px solid transparent;
  background-color: transparent;
  background-image: url("image/background.webp");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 5px;
  margin: 0 8.1px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.skill-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.skill-btn img {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.skillweak-btn {
  border: 2px solid transparent;
  background-color: transparent;
  background-image: url("image/weakbackground.webp");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 5px;
  margin: 0 8.1px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.skillweak-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.skillweak-btn img {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.skillstrong-btn {
  border: 2px solid transparent;
  background-color: transparent;
  background-image: url("image/strongbackground.webp");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 5px;
  margin: 0 8.1px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.skillstrong-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.skillstrong-btn img {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.button-group-field {
  padding-left: 30px;
}

.field-btn {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin: 0 6.1px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.field-btn.active {
  border: 2px solid rgb(0, 0, 0);
}

.field-btn img {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

th {
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.26);
  font-weight: bold;
  text-align: center;
}

th.sortable {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

th span {
  margin-left: 5px;
  font-size: 0.8em;
}

th:hover {
  background-color: #8f8f8f;
}

.reset-sort-container {
  display: inline-block;
}

table {
  width: 100%;
}

tbody {
  height: auto;
}

.active {
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  position: absolute;
  top: 100%;
  transform: translateX(0%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
  display: inline-block;
  min-width: 270px;
  max-width: 300px;
}

.tooltip-content {
  display: flex;
  align-items: center;
}

.tooltip-content img {
  margin-right: 10px;
}

.tooltip-description {
  display: inline-block;
  vertical-align: middle;
  max-width: 220px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.filter-label {
  position: relative;
  display: inline-block;
}

.field-qm {
  width: 13px;
  height: 13px;
  position: absolute;
  top: -3px;
}

.skill-qm {
  width: 13px;
  height: 13px;
  position: absolute;
  top: -3px;
}

.tooltip-field {
  visibility: hidden;
  opacity: 0;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 190%;
  transform: translateX(-53%);
  transition: opacity 0.3s ease;
}
.tooltip-skill {
  visibility: hidden;
  opacity: 0;
  width: 480px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 190%;
  transform: translateX(-43%);
  transition: opacity 0.3s ease;
  max-height: 300px;
  font-size: 12px;
  font-weight: lighter;
  overflow-y: auto;
  padding: 5px;
}

.tooltip-field.show,
.tooltip-skill.show {
  visibility: visible;
  opacity: 1;
}

.tooltip-table-header,
.tooltip-table-header-skill {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  font-weight: bold;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-condition,
.header-description {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: deepskyblue;
}

.tooltip-table-content,
.tooltip-table-content-skill {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 10px;
  padding: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

.condition {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 12px;
}

.condition img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  object-fit: contain;
}

.description {
  margin-top: 5px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

.tooltip-table-content::-webkit-scrollbar,
.tooltip-skill::-webkit-scrollbar {
  width: 8px;
}

.tooltip-table-content::-webkit-scrollbar-track,
.tooltip-skill::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.tooltip-table-content::-webkit-scrollbar-thumb,
.tooltip-skill::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.tooltip-table-content::-webkit-scrollbar-thumb:hover,
.tooltip-skill::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 3;
  display: inline-block;
  padding: 0;
}

.close-btn:hover {
  color: #ccc;
}

.field-qm:hover + .tooltip-field {
  visibility: visible;
  opacity: 1;
}

.skill-qm:hover + .tooltip-skill {
  visibility: visible;
  opacity: 1;
}

.tooltip-table {
  width: 100%;
  border-collapse: collapse;
}

.tooltip-table td {
  padding: 8px;
}

.weak-col {
  width: 1%;
}

.label-col {
  width: 11%;
  text-align: center;
}

.description-col {
  width: 60%;
}

.weak-background,
.strong-background {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.weak-label {
  color: rgb(0, 183, 255);
}

.strong-label {
  color: red;
}

.highlight {
  color: rgb(0, 255, 0);
}

.tooltip-footer {
  color: #ff0000;
  padding: 7px;
  text-align: center;
  font-size: 10px;
  position: relative;
}

.text-container {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.text,
.text2 {
  flex: 1;
}
.text {
  font-size: 13px;
  margin-left: 5px;
}
.text2 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 13px;
  margin-left: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.text2 p {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.all-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(220, 248, 248);
  margin-right: 5px;
  border: #202020 1px solid;
}
.casting-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 234, 234);
  margin-right: 5px;
  border: #202020 1px solid;
}

.reset-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1;
}

.reset-btn:hover {
  background-color: #d32f2f;
}
